<header class='top-page-header'>

    <div class='top-contents'>
      <%= link_to image_tag("dozo-logo.png", class:"dozo-logo"), "/" %>
    </div>

<%# <kokokara> %>
<%# <div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="What are you looking for?">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div> %>
<%# <kokokara> %>

<%# <%= link_to 'カテゴリー', "#", class: "category" %> 
    <div class='search'>
      <%= link_to 'カテゴリー', "#", class: "category" %>

      <%# <サーチ> %>
      
      <form class="search-form" action="#">
        <input class='input-box' placeholder='キーワードから探す'><button class="search-button">
          検索
        </button>
        </form>
 
      <%# <サーチ> %>

     </div>

    <div class='nav'>
      <ul class='lists-right'>
        <% if user_signed_in? %>
          <li><%= link_to current_user.nickname, users_path, class: "nickname" %></li> 
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
          <li><%= link_to 'リユース登録', new_item_path, class: "reuse" %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <% end %>
      </ul>
    </div>




</header>