
<%= render "shared/header" %>
<div class='main'>




  <%# 商品一覧 %>
  <div class='item-contents'>

  <h2 class= "subtitle">
  お知らせ
   </h2>
  <div class= "news" >
  <%# <div style="height: 100px; overflow-y: scroll; border: 1px #999999 solid;"> %>
    <ul>
    <li>12月 年末年始について</li>
    <li>11月 社内リユース品・メモ帳を追加</li>
    <li>10月 放置傘をリユース！</li>
    <li>9月 </li>
    <li>8月 </li>
    <li>7月 </li>
    <li>6月 </li>
    <li>5月 ゴールデンウィークの利用について</li>
    </ul>
    </div>



    <h2 class="subtitle" >
      新着情報
    </h2>

    <ul class='item-lists'>
      <% if @items.present? %>

        <% @items.each do |item| %>
          
          <% if item.order.nil? %>
          <li class='list'>        
              <%= link_to item_path(item.id), method: :get do %>

                <div class='item-img-content'>
                  <%= image_tag item.image, class: "item-img" %>
                </div>
                
                <div class='item-info'>
                  <h4 class='item-category'>
                    <%= item.category.name %>
                  </h4> 
                  <h3 class='item-name'>
                    <%= item.name %>
                  </h3>                 
                </div>
              
              <% end %>
          </li>
          <% end %>
        <% end %>

      <% else %>       
        <li class='list'> 
          <%= link_to '#' do %>
            <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
              <div class='item-info'>
                <h3 class='item-name'>
                  リユース！
                </h3>
              </div>
          <% end %>
        </li>
      <% end %>

    </ul>
  </div>
  <%= render "shared/footer" %>
</div>

