<div>タイトル1</div>

<div class="item-show">
  <div class="item-box">
    <div>詳細</div>

    <%# 画像 %>
    <div class="item-img-content">
    <%= image_tag @item.image, class:"item-box-img" %>
    </div>
    
    
    <%# <div>品名</div> %>
    <div class="name">
      <%= @item.name %>
    </div>

    <%# <div>カテゴリー</div> %>
      <div class="detail-item">
        <%= @item.category.name %>
      </div>

    <%# <div>状態</div> %>
      <div class="detail-item">
        <%= @item.condition.name %>
      </div>

      <div class="detail-item">
        <%= @user.nickname %>
      </div>

    <div>説明</div>
    <div class="item-explain-box">
      <span><%= @item.description %></span>
    </div>
    <%= form_with model: @order, url: orders_path, class: 'order',local: true do |f| %>
      <%= f.check_box :accept ,checked:true %>
      <%= f.label "受け取りを希望する" %>
      <%= f.submit "決定" %>
    <% end -%>

  </div>
</div>
